@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
body {
  background-color: black;
}
.banner {
  background-image: url("assets/Images/bg1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  border-bottom: 8px solid red;
}
.banner .box {
  height: 100vh;
  width: 100%;
  opacity: 0.66;
  position: absolute;
  top: 0;
  background-color: black;
}
nav {
  align-content: center;
  max-width: 75vw;
  margin: auto;
  height: 80px;
}
nav div img {
  width: 140px;
}
nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}
nav div button {
  padding: 8px 18px;
  border-radius: 4px;
  font-weight: bold;
  font-size: medium;
  color: white;
  border: 0px;
  background-color: red;
}
nav div button:hover {
  background-color: rgb(229, 7, 7);
  color: white;
  cursor: pointer;
}
.banner_text {
  height: calc(80% + 60px);
  width: 40%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 20px;
}
.banner_text > :first-child {
  font-weight: 900;
  font-size: 48px;
}
.banner_text > :nth-child(2) {
  font-weight: 500;
  font-size: 20px;
}
.banner_text > :nth-child(3) {
  font-weight: 400;
  font-size: 16px;
}
